/* globals.css o index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Clase para ocultar la barra de desplazamiento */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
